[alias]
  a = add -p
  b = branch
  cl = clone
  cm = commit -m
  c-a = commit --amend
  c-pi = cherry-pick
  co = checkout
  d = diff
  i = init
  l = log -p
  p = push
  r = rebase
  ri = rebase -i
  s = status
  pr = "!pr() { git checkout -b pr-$1 upstream/pr/$1; }; pr"
  hub = "!hub() { cd ~/Development && git clone git@github.com:btford/$1.git; cd $1; }; hub"

[core]
	excludesfile = ~/.gitignore_global

[user]
	name = Brian Ford
	email = btford@umich.edu

[pull]
  rebase = true

[color]
	ui = true

# CREDIT TO IGOR MINAR, A HERO TO US ALL
#[remote "origin-prs"]
#       fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[remote "upstream-prs"]
       fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
[push]
	default = simple
