[alias]
  a = add -p
  b = branch
  cl = clone
  cm = commit -m
  c-a = commit --amend
  c-pi = cherry-pick
  co = checkout
  com = checkout master
  d = diff
  f = fetch
  fall = fetch --all
  fum = fetch upstream master
  i = init
  l = log -p
  p = push
  pum = push upstream master
  pus = push upstream v1.2.x
  r = rebase
  ri = rebase -i
  s = status
  last-sha = "!lsha() { git rev-parse master | tr -d '\n' | pbcopy; git rev-parse master; }; lsha"
  pr = "!pr() { git co -b pr-$1 upstream/pr/$1; }; pr"
  doc-pr = "!docpr() { git fum; git pr $1; git r upstream/master; git c-a; git co master; git r pr-$1; }; docpr"
  cp-stable = "!cpstable() { SHA=`git rev-parse master`; git f upstream v1.2.x; git co v1.2.x; git r upstream/v1.2.x; git c-pi $SHA; }; cpstable"
  hub = "!hub() { cd ~/Development && git cl git@github.com:btford/$1.git; cd $1; }; hub"

[core]
	excludesfile = ~/.gitignore_global

[user]
	name = Brian Ford
	email = btford@umich.edu

[pull]
  rebase = true

[color]
	ui = true

# CREDIT TO IGOR MINAR, A HERO TO US ALL
#[remote "origin-prs"]
#       fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[remote "upstream-prs"]
       fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
[push]
	default = simple
